<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAbCpBuBNX7vBFJNwyghKVVLWRSxofJbp0</string>
	<key>GCM_SENDER_ID</key>
	<string>679389094762</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nequi.nequitasktest</string>
	<key>PROJECT_ID</key>
	<string>nequi-task</string>
	<key>STORAGE_BUCKET</key>
	<string>nequi-task.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:679389094762:ios:200a6695a6c5ab3cb77b13</string>
</dict>
</plist>