.task-status-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 10px; 
  }
  
  .task-status-label {
    font-size: 12px; 
    margin-right: 8px; 
    color: var(--ion-color-dark); 
  }
  
  .task-toggle {
    margin-left: auto; 
  }