ion-footer{
    margin-top: 22% !important;
}

ion-tab-button[aria-selected="true"] {
    position: relative;
  }
  
  ion-tab-button[aria-selected="true"]::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 4px;
    background-color: var(--ion-color-secondary);
    border-radius: 2px 2px 0 0;
  }